:root {
    /* Radius System - 4px Grid */
    --radius-xs: 4px;
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 16px;
    --radius-xl: 20px;
    --radius-xxl: 24px;
    --radius-xxxl: 32px;
    --radius-xxxxl: 40px;

    --radius-round: 50%;
    --radius-pill: 9999px;
}