.assortment-page {
  background: linear-gradient(180deg, #000000, #0a0a0a);
  padding-bottom: 30px;

  @media (max-width: 800px) {
    padding-bottom: 0px;
  }
}

.assortment-title {
  text-align: center;
  font-size: 36px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
}

.assortment-gallery {
  display: flex;
  gap: 30px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 800px) {
    display: block;
  }
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;

  @media (max-width: 800px) {
    margin-bottom: 30px;
  }
}

.left-column {
  align-items: flex-start;
}

.right-column {
  align-items: flex-end;
}
