.appContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow: hidden;
  }

  .mainContent {
    margin-top: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    min-height: 0; 
  }

  .canvasContainer {
    margin-top: 30px;
    flex-grow: 1; /* Allow canvas container to take remaining space */
    display: flex; /* Use flex to help child fill space */
    position: relative;
    overflow: hidden;
    border: 1px solid var(--canvas-border-color);
    border-radius: 5px;
    background-color: var(--canvas-background); /* Set container background */
  }