.range__text {
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;

    b {
        color: #5fd6ff;
    }

    @media (max-width: 800px) {
        font-size: 20px;
        margin-top: 30px;
        padding: 0 15px;
    }
}