.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    z-index: 10;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        border-radius: 12px;
        transform: translateY(-500px);
        transition: 1s;
        &.active {
            transform: translateY(0px)
        }
    }
}