.usage-scenarios {
  margin-top: 50px;
  color: white;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0 10px;

  &__title {
    display: block;
    font-size: 64px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: "Bicubik";
  }

  &__columns {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @media (max-width: 800px) {
    &__title {
      font-size: 48px;
    }

    &__columns {
      display: block;
    }

    &__column {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 568px) {
    &__title {
      font-size: 36px;
    }
  }

  @media (max-width: 430px) {
    &__title {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }
}

.usage-card {
  background: #1a1a1a;
  border-radius: 20px;
  max-width: 550px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: rotate(-6deg);

  &:hover {
    transform: scale(1.03);
  }

  &__content {
    h3 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
      line-height: 1.4;
      color: #ccc;
    }
  }

  img {
    max-width: 100%;
    border-radius: 10px;
    object-fit: contain;
    margin-top: 10px;
  }

  @media (max-width: 1280px) {
    transform: rotate(0deg);
  }

  @media (max-width: 800px) {
    max-width: 100%;

    &:hover {
      transform: scale(1);
    }
  }

  @media (max-width: 568px) {
    &__content {
      h3 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}