#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.range {
  &__text {
    color: white;
    margin-top: 10px;
    padding-bottom: 15px;
    line-height: 30.09px;
    border-bottom: 2px solid white;
  }

  &__banners {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
}

.profile {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
  padding: 2rem;
  color: white;

  &__list {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
}
