@import url("./utils/normalize.scss");

@font-face {
  font-family: "Bicubik";
  src: local("Bicubik"), url("https://02adab20-6e64-4cd9-8807-03d155655166.selstorage.ru/fonts/Bicubik.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akony";
  src: local("Akony"), url("https://02adab20-6e64-4cd9-8807-03d155655166.selstorage.ru/fonts/AKONY.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
