.banner-container {
  color: white;
}

.banner-info {
  max-width: 330px;
  padding: 10px;
  margin-top: 15px;
  background-color: #23242580;
  border-radius: 26px;
}

.banner-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}